<a href="https://colab.research.google.com/github/dmshlepakov/KG-TIES/blob/master/Reading_Ukraine_COVID_19_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Install, Import Libs, Global Settings

In [1]:
# Import & Settings
import pandas as pd
import numpy as np
import os
from google.colab import drive

!pip install pyDataverse 
#documentation here: https://pydataverse.readthedocs.io/en/latest/index.html#quickstart
from pyDataverse.api import Api
from pyDataverse.models import Dataverse

Collecting pyDataverse
  Downloading https://files.pythonhosted.org/packages/d6/35/b1c86927957cbe30ce8f9115a5775bf8c0e62573e1af9f883a589f9a0927/pyDataverse-0.2.1-py2.py3-none-any.whl
Requirement already satisfied: requests>=2.12.0 in /usr/local/lib/python3.6/dist-packages (from pyDataverse) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.12.0->pyDataverse) (2020.4.5.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.12.0->pyDataverse) (2.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.12.0->pyDataverse) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.12.0->pyDataverse) (3.0.4)
Installing collected packages: pyDataverse
Successfully installed pyDataverse-0.2.1

### Establish Connections

In [2]:
drive.mount('/content/gdrive', force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
#Make /COVID-19 and /data directories if needed...
if not os.path.exists('gdrive/My Drive/COVID-19/data'):
    os.makedirs('gdrive/My Drive/COVID-19/data')

In [7]:
#Set the current working directory as the download destination
import os
root = os.getcwd()
filepath = 'gdrive/My Drive/COVID-19/data'
cwd = os.path.join(root, filepath)
os.chdir(cwd)
print(os.getcwd())

/content/gdrive/My Drive/COVID-19/data/gdrive/My Drive/COVID-19/data

In [8]:
# Establish connection to Dataverse
base_url = 'http://datasets.coronawhy.org'
api = Api(base_url)
print('Dataverse connection status: ', api.status)

Dataverse connection status:  OK

In [0]:
def getDatafilesByDataverseId(dv_id):
  
  # Get dataverse information by id
  # dv_id = 'doi:10.5072/FK2/330LNP'
  response = api.get_dataset(dv_id)  
  dataset_id = response.json()['data']['id']

  response = api.get_datafiles(dv, version='1')

  dvfiles = response.json()['data']

  i = 0
  dvfile_ids = []
  for item in dvfiles:
    dvfile_ids.append(response.json()['data'][i]['dataFile']['id'])
    i += 1

  return(dvfile_ids)

In [0]:
dvfile_ids = getDatafilesByDataverseId( 'doi:10.5072/FK2/330LNP')

In [42]:
for fid in dvfile_ids:
  # Download datafile
  response = api.get_datafile(fid)
  with open(str(fid) + '.dvf', 'wb') as f: 
    f.write(response.content)

dfiles = os.listdir()
print('Files in current directory: ', '\n', dfiles)

Files in current directory:
 ['190.dvf', '119.dvf', '126.dvf', '127.dvf', '124.dvf', '120.dvf', '125.dvf', '118.dvf', '122.dvf', '121.dvf', '123.dvf', '128.dvf', '134.dvf', '136.dvf', '129.dvf', '130.dvf', '133.dvf', '137.dvf', '131.dvf', '132.dvf', '135.dvf', '138.dvf', '148.dvf', '140.dvf', '145.dvf', '147.dvf', '142.dvf', '144.dvf', '146.dvf', '139.dvf', '143.dvf', '141.dvf', '161.dvf', '156.dvf', '159.dvf', '165.dvf', '168.dvf', '162.dvf', '157.dvf', '149.dvf', '152.dvf', '151.dvf', '150.dvf', '155.dvf', '153.dvf', '154.dvf', '166.dvf', '167.dvf', '160.dvf', '163.dvf', '158.dvf', '164.dvf', '175.dvf', '169.dvf', '173.dvf', '171.dvf', '178.dvf', '177.dvf', '176.dvf', '174.dvf', '170.dvf', '172.dvf', '179.dvf', '184.dvf', '188.dvf', '185.dvf', '182.dvf', '180.dvf', '187.dvf', '181.dvf', '183.dvf', '186.dvf']

In [66]:
for dvf in dfiles:
  with open(dvf, 'rb') as f:
    data = json.load(f)
d = data['ukraine']
df = pd.DataFrame(d)
df

     id  ... delta_suspicion
0   105  ...              23
1   107  ...              25
2   112  ...              23
3   114  ...               1
4   118  ...              26
5   121  ...              15
6   123  ...              22
7   126  ...             102
8   132  ...              61
9   135  ...              13
10  144  ...               2
11  146  ...              82
12  148  ...              20
13  180  ...              74
14  151  ...              21
15  153  ...              13
16  156  ...             352
17  159  ...               4
18  161  ...              15
19  163  ...              57
20  165  ...               4
21  168  ...              13
22  171  ...              17
23  173  ...              95
24  174  ...               4

[25 rows x 15 columns]